In [7]:
# map the names and ages
person_list = ["Arie", 30, "Dirk", 40, "Jaap", 50]

person_list[3]

40

In [4]:
person_dict = {"Arie": 30, "Dirk": 40, "Jaap": 50}

person_dict['Arie']

30

In [13]:
dimensies = {
    "wand": {"lengte": 10,
             "brand": 60
             },
    "vloer": {
        "materiaal": "pvc"
    }
}

In [14]:
dimensies['wand']['brand']

60

In [16]:
dimensies['vloer']['materiaal']

'pvc'

In [20]:
numbers_list = [4,8,1,5,3]

numbers_list

[4, 8, 1, 5, 3]

In [30]:
numbers_sorted = sorted(numbers_list, reverse=True)
numbers_sorted

[8, 5, 4, 3, 1]

In [32]:
numbers_list.sort(reverse=True)
numbers_list

[8, 5, 4, 3, 1]

In [35]:
# Assignments 1
person_dict = {"name": "Piet", 
               "age": 30,
               "hobbies": ['wandelen', 'lezen']
                           }

In [36]:
person_dict

{'name': 'Piet', 'age': 30, 'hobbies': ['gamen', 'lezen']}

In [37]:
# Assignment 2
names = ['Pieter', 'Peter', 'Puk']
ages = [10, 20, 30]

persons_dict = dict(zip(names, ages))
persons_dict

{'Pieter': 10, 'Peter': 20, 'Puk': 30}

In [38]:
# Assignment 2b
person_dict_1 = {"name": "Piet", 
               "age": 30,
               "hobbies": ['wandelen', 'lezen']
                           }

person_dict_2 = {"name": "Anne", 
               "age": 30,
               "hobbies": ['gamen', 'boksen']
                           }

person_dict_3 = {"name": "Tim", 
               "age": 10,
               "hobbies": ['programmeren', 'tuiniren']
                           }

person_dict_4 = {"name": "Jaap", 
               "age": 15,
               "hobbies": ['fietsen']
                           }

In [40]:
family = [person_dict_1, person_dict_2, person_dict_3, person_dict_4]

In [41]:
family

[{'name': 'Piet', 'age': 30, 'hobbies': ['wandelen', 'lezen']},
 {'name': 'Anne', 'age': 30, 'hobbies': ['gamen', 'boksen']},
 {'name': 'Tim', 'age': 10, 'hobbies': ['programmeren', 'tuiniren']},
 {'name': 'Jaap', 'age': 15, 'hobbies': ['fietsen']}]

In [42]:
family_dict = {"name": "Jones", 
               "members": family}

In [43]:
family_dict['name']

'Jones'

In [44]:
family_dict['members']

[{'name': 'Piet', 'age': 30, 'hobbies': ['wandelen', 'lezen']},
 {'name': 'Anne', 'age': 30, 'hobbies': ['gamen', 'boksen']},
 {'name': 'Tim', 'age': 10, 'hobbies': ['programmeren', 'tuiniren']},
 {'name': 'Jaap', 'age': 15, 'hobbies': ['fietsen']}]

In [46]:
family_dict['members'][1]['age']

30

In [53]:
family_dict['members'][2]['hobbies'][1]

'tuiniren'

In [57]:
import pandas as pd

In [59]:
family_df = pd.DataFrame(family_dict['members'])

In [62]:
family_df.query("name == 'Piet'")

   name  age            hobbies
0  Piet   30  [wandelen, lezen]